body {
    margin: auto;
    font: 16px 'Bebas Neue', Verdana;
    background-color: #b7b7b7;
    height: 100%; /*footer*/
}
html {
    height: 100%; /*footer*/
}
.wrapper {
    width: 900px;
    padding: 20px;
    margin: auto;
    background-color: #3c90f4;
    min-height: 96%; /*footer*/
}
@font-face {
    font-family: Bebas Neue;
    src: url("fonts/BebasNeue.otf");
}
.page-buffer{ /*footer*/
    height: 35px; /*основа прижатого футера*/
    margin-top: -35px; /*отступ и размер должны совпадать*/
    clear: both;
    text-align: center;
}
.footer {
    margin: auto;
    width: 900px;
    height: 35px;

}
